body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:#7C6AF1;
    background-image: url('../../background.gif');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
}