body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:#7C6AF1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
*{
    cursor: url('../../sword.png'),auto;

}

.video-background {
    position: relative;
    height: 100vh; 
    width: 100vw;
    overflow: hidden; /* Hide overflow */
}




.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100vw !important; 
    height: 100vh;
    z-index: -5; /* Send video behind content */
    transform: translate(-50%, -50%); /* Center the video */
}