body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:#7C6AF1;
    background-image: url('../../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
*{
    cursor: url('../../sword.png'),auto;

}